.back {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}
.modal {
  position: absolute;
  right: 34%;
  top: 35%;
  background: #fff;
  padding: 30px 40px;
}
.modal_button-group {
  float: right;
  margin-top: 20px;
}
