<div *ngIf="isOpen" class="back">
  <div class="modal">
  <h4 class="title">{{title}}</h4>
  
    <div class="modal_button-group">
      <button type="button" class="button button_blue" (click)="handleConfirm()">Yes</button>
      <button type="button" class="button" (click)="handleClose()">No</button>
    </div>
  </div>
</div>
