.name {
  text-transform: uppercase;
  font-family: 'Roboto-Condensed-Bold', Arial, sans-serif;
  color: #fff;
  margin: 0;
}
:host(.small) .name {
  font-size: 20px;
}
:host(.big) .name {
  font-size: 30px;
}
