<form (ngSubmit)="handleLoginClick()"
      [formGroup]="loginForm"
      class="shadow auth_wrapper">
  <div class="auth_block">
    <input class="input auth_input"
           type="text" placeholder="Username or email"
           formControlName="username"/>
    <input class="input auth_input"
           type="password"
           placeholder="Password"
           formControlName="password"/>
    
    <button class="button button_blue auth_button-login">Login</button>
  </div>
</form>
