.auth_wrapper {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth_block {
  display: flex;
  flex-direction: column;
}
.auth_input {
  margin: 0 0 10px;
}
.auth_button-login {
  align-self: flex-end;
}
