.course {
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
}
.course_date_wrapper {
  font-size: 15px;
  color: #9ea7aa;
  font-style: italic;
  position: absolute;
  right: 15px;
  top: 15px;
}
.course_duration {
  margin-right: 20px;
}
.course_button_wrapper {
  text-align: right;
}
.course_button_edit {
  margin-right: 5px;
}
