<div [appCourseBorder]="courseItem.date" class="course shadow">
  <h4 class="title">{{courseItem.name | uppercase}} <span *ngIf="courseItem.isTopRated">☆</span></h4>
  <div class="course_date_wrapper">
    <!--<span class="course_duration">{{courseItem.duration | duration}}</span>-->
    <span>{{courseItem.date | date:'mediumDate'}}</span>
  </div>
  <p class="course_description">{{courseItem.description}}</p>
  <div class="course_button_wrapper">
    <button type="button" class="button button_link button_blue course_button_edit">
      <a class="link-block link_not-decorated" routerLink="/courses/{{courseItem.id}}">Edit</a>
    </button>
    <button type="button" class="button course_button_delete" (click)="onClick()">Delete</button>
  </div>
</div>
