<header class="header_wrapper">
  <div class="container header">
    <a class="header_link" routerLink="/courses">
      <app-logo class="small"></app-logo>
      <app-website-name class="small"></app-website-name>
    </a>
    <div class="header_user" *ngIf="isLoggedIn; else loggedOut">
      <!--<span>{{}}</span>-->
      <button type="button" class="header_button" (click)="handleLogout()">Log out</button>
    </div>
    <ng-template #loggedOut>
      <a routerLink="/auth">Login</a>
    </ng-template>
  </div>
</header>
