.header_wrapper {
  background: #455c74;
  color: #fff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header_link {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header_button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
  outline: none;
}
.header_user {
  flex-grow: 1;
  text-align: right;
}
