.course {
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
}
.course_label {
  color: #455c74;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.course_label_text {
  margin-right: 10px;
  width: 120px;
}
.course_input {
  flex: 1;
}
.course_input-small {
  width: 200px;
}
.course_button-block {
  align-self: flex-end;
}
