<form (ngSubmit)="handleSave()"
      [formGroup]="courseForm"
      class="course container shadow">
  <label class="course_label">
    <span class="course_label_text">Name*:</span>
    <input type="text" class="shadow input course_input"
           formControlName="name">
  </label>
  <label class="course_label">
    <span class="course_label_text">Description*:</span>
    <textarea rows="15" class="shadow input course_input"
              formControlName="description"></textarea>
  </label>
  <label class="course_label">
    <span class="course_label_text">Date*:</span>
    <input type="date" class="shadow input course_input-small"
           [valueAsDate]="currentCourse.date"
           formControlName="date">
  </label>
  <label class="course_label">
    <span class="course_label_text">Duration*:</span>
    <input class="shadow input course_input-small" placeholder="Input in minutes"
           formControlName="duration">
    <span *ngIf="!!currentCourse.duration">{{courseForm.value.duration | duration}}</span>
  </label>
  <label class="course_label">
    <span class="course_label_text">Authors*:</span>
    <input class="shadow input course_input" placeholder="Start typing...">
  </label>
  
  <div class="course_button-block">
    <button type="submit" class="button button_blue">Save</button>
    <button type="button" class="button" (click)="handleCancel()">Cancel</button>
  </div>
</form>
