<div class="not-found">
  <h4 class="not-found_title">whoops</h4>
  <h1 class="not-found_number">404</h1>
  <p class="not-found_content">It looks like you are lost!
    <a class="not-found_link link_not-decorated" routerLink="/courses">Go to courses page</a>
  </p>
</div>
