.not-found {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  color: #757575;
}
.not-found_title {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
}
.not-found_number {
  color: #455c74;
  font-size: 170px;
  margin: 0;
  font-weight: 400;
}
.not-found_link {
  color: #455c74;
  font-weight: 600;
}
.not-found_link:hover {
  text-decoration: underline;
}
