<section class="container">
  <div class="course-list_header">
    <app-courses-list-search></app-courses-list-search>
    <button class="button button_blue" type="button">
      <a class="link_not-decorated" routerLink="/courses/new">Add course</a>
    </button>
  </div>
  <app-courses-list-item
    *ngFor="let item of courses | orderBy:'date'"
    [courseItem]="item"
    (deleteItem)="toggleDelete($event)"
  ></app-courses-list-item>
  <button *ngIf="courses.length" type="button" class="button load-more_button" (click)="loadMore()">Load more...</button>
  <app-no-data *ngIf="!courses.length" message="Feel free to add new course"></app-no-data>
  <app-confirm-delete-modal
    [isOpen]="isDeleteConfirmation"
    [title]="'Do you really want to delete this course?'"
    (close)="toggleDelete()"
    (confirm)="handleDelete()"
  ></app-confirm-delete-modal>
</section>
