/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Roboto-Light', Arial, sans-serif;
  padding-bottom: 65px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.shadow {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
}
.button {
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  color: #757575;
  padding: 7px 10px;
  border-right: 2px;
}
.button_link {
  padding: 0;
}
.button:hover {
  background: #f5f5f5;
}
.button_blue {
  background: #455c74;
  color: #fff;
}
.button_blue:hover {
  background: #4A6C77;
}
.input {
  border: none;
  padding: 8px 15px;
  width: 220px;
}
.link-block {
  display: block;
  padding: 7px 10px;
}
.link_not-decorated {
  color: #fff;
  text-decoration: none;
}
.title {
  font-size: 20px;
  font-weight: 600;
  color: #455c74;
  margin: 0 0 15px;
}
.input {
  border: none;
  padding: 8px;
  width: 220px;
  margin-right: 10px;
  box-shadow: 0 0 1px 0 rgba(0, 0 , 0, 1);
  font-family: 'Roboto-Light', Arial, sans-serif;
}
